<div aria-hidden="true" aria-labelledby="m-edit-shortcut" class="modal fade" id="m-edit-shortcut" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Rediger genveje</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="widget-list modal-list edit">
                    <li><a href="#">Nice Klassigikation <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Patentlovgivning <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Ankenævnet for patenter &amp; varemærker <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">IP-client <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Tidender <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Nice Klassigikation <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Patentlovgivning <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Ankenævnet for patenter &amp; varemærker <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">IP-client <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                    <li><a href="#">Tidender <i class="icon-widget-move"></i><i class="icon-widget-close"></i></a></li>
                </ul>
                <p>Rediger:</p>
                <form>
                    <div class="form-group">
                    <input type="text" class="form-control" required value="Tidender">
                    <label for="shortcut-name">Navngiv genvej</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-link" required value="www.tidender.dk">
                        <label for="link">Webadresse f.eks. www.google.dk</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn btn-grey"> Fortryd </div> <div class="btn btn-filled"> Gem </div>
            </div>
        </div>
    </div>
</div>