<div aria-hidden="true" aria-labelledby="m-price-list" class="modal large fade" id="m-price-list" role="guide" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Priser &amp; betaling</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="body-header">
                    <h1>Design internationale gebyrer</h1>
                    <p>Priser gældende Pr. 1 februar 2009</p>
                </div>
                <div class="body-body">
                    <div class="content">
                        <h4>Gebyr for ekspedition af ansøgning</h4>
                        <div class="item">
                            <p>Gebyr for ekspedition af ansøgning</p>
                            <p>200 DKK</p>
                        </div>

                        <h4>Gebyr, der skal betales til Det internationale Bureau (WIPO)</h4>

                        <h4>Gebyr for ekspedition af ansøgning</h4>
                        <div class="item">
                            <p>For ansøgning om registreing af 1. design</p>
                            <p>397 CHF</p>
                        </div>
                        <div class="item">
                            <p>Tilægsbegyr ved samregistreing for hvert design ud over det første</p>
                            <p>19 CHF</p>
                        </div>
                        <h4>Gebyr for offentliggørelse</h4>
                        <div class="item">
                            <p>For hver afbildning</p>
                            <p>17 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                        <div class="item">
                            <p>For hver side, i tillæg til den første, hvor en eller flere afbildninger er vist (hvis afbildninger er indleveret på papir)</p>
                            <p>150 CHF</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-download">
                <a href="#"><span><i class="fi flaticon-download"></i> Download</span></a>
                <a href="#"><span><i class="fi flaticon-folder-2"></i> Send som mail</span></a>
            </div>
        </div>
    </div>
</div>