<div aria-hidden="true" aria-labelledby="m-shortcut" class="modal fade" id="m-shortcut" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Genveje</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="widget-list modal-list">
                    <li>Nice Klassigikation <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Patentlovgivning <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Ankenævnet for patenter &amp; varemærker <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>IP-client <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Tidender <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Nice Klassigikation <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Patentlovgivning <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Ankenævnet for patenter &amp; varemærker <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>IP-client <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                    <li>Tidender <i class="icon-widget-move"></i><i class="icon-widget-close"></i></li>
                </ul>
            </div>
            <div class="modal-footer">
               <div class="btn btn-grey"> Rediger </div> <div class="btn btn-filled"> Tilføj </div>
            </div>
        </div>
    </div>
</div>