<div aria-hidden="true" aria-labelledby="m-article" class="modal large fade" id="m-article" role="guide" tabindex="-1">
    <div class="m-nav">
        <a href="#">
            <div class="prev">
                <i class="icon-arrow-left"></i>
            </div>
        </a>
        <a href="#">
            <div class="next">
                <i class="icon-arrow-right"></i>
            </div>
        </a>
    </div>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nyhed &amp; kurser fra PVS</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="body-header">
                    <h1>Lego er verdens stærkeste brand</h1>
                    <span class="author">af Flemming Kønig Mejl</span> 
                    <span class="date">02.02.2018</span>
                </div>
                <div class="body-body">
                    <img alt="demo" src="assets/images/demo/1.jpg">
                    <div class="content">
                        <div class="intro">
                            <p>Lego har verdens stærkeste varemærke. Det konkluderer det velrenommerede konsulenthus, Brand Finance, i sin 2017 undersøgelse af globale brands. Lego kommer ind på en førsteplads med en score på 92,7 foran virksomheder som Google, Nike og Ferrari.</p>
                        </div>
                        <div class="share">
                            <p>Del artiklen:</p>
                            <ul class="share-list">
                                <a href="#">
                                    <li>
                                        <i class="fi flaticon-eyeglasses"></i>
                                        <p>Email</p>
                                    </li>
                                </a>
                                <a href="#">
                                    <li>
                                        <i class="fi flaticon-like-1"></i>
                                        <p>Linkedin</p>
                                    </li>
                                </a>
                            </ul>
                        </div>
                        <div class="text">
                            <p>Indekset for de stærkeste varemærker er primært relateret til virksomhedens "brand equity", som er udtryk for den tryghed, tillid og image, der forbindes med varemærket. Det måles bl.a. gennem kendskabet til varemærket, kundernes loyalitet, virksomhedens omdømme, medarbejdertilfredshed m.v.<br>
                            <br>
                            På disse parametre har LEGO den højeste score. Brand Finance skriver bl.a. om Legos varemærke:<br>
                            <br>
                            Indekset for de stærkeste varemærker er primært relateret til virksomhedens "brand equity", som er udtryk for den tryghed, tillid og image, der forbindes med varemærket. Det måles bl.a. gennem kendskabet til varemærket, kundernes loyalitet, virksomhedens omdømme, medarbejdertilfredshed m.v.<br>
                            <br>
                            På disse parametre har LEGO den højeste score. Brand Finance skriver bl.a. om Legos varemærke:</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <div class="btn btn-filled">
                    Næste
                </div>
            </div> -->
        </div>
    </div>
</div>