<div class="noticication">
	<div class="msg">
		<i class="icon-alert"></i>
		<p>
			<span>System information fra MitPVS.</span> 
			PVS betaling er lukket for vedligehold onsdag d. 16 november fra kl. 18.00 - 23.00. Se mere
		</p>
	</div>
	<div class="btn">OK</div>
</DIV>
   