<div class="content">
	<div class="row">
		<div class="col-md-8 restoreprofile">
			<h2>Gendan din profil</h2>
			<p><b>Mit</b>PVS har gemt din profil, Gendan den her</p>
			

			<!--accordion-->
			<ul class="accordion">
				<li>
					<a class="toggle" href="javascript:void(0);"><div class="checkmark"></div>Gendan din profil via SMS</a>
					<div class="inner">
						<ol>
							<li>
								<form>
									<div class="form-group">
										<input type="text" class="form-control" required>
										<label for="exampleInputEmail1">Skriv dit telefonnummer</label>
									</div>
									<button type="submit" class="btn btn-filled">Send verifikationsbesked</button>
								</form>
							</li>
							<li>
								<p>Klik på nøgle-linket i din email, så gendannes din profil.</p>
							</li>
						</ol>
					</div>
				</li>
				<li>
					<a class="toggle" href="javascript:void(0);">
						<div class="checkmark"></div> Gendan din profil via email
					</a>
					<div class="inner">
						<ol>
							<li>
								<form>
									<div class="form-group">
										<input type="email" class="form-control" required>
										<label for="exampleInputEmail1">Skriv din email</label>
									</div>
									<button type="submit" class="btn btn-filled">Send gendannelsesmail</button>
								</form>
							</li>
							<li>
								<p>Klik på nøgle-linket i din email, så gendannes din profil.</p>
							</li>
						</ol>
						
					</div>
				</li>
			</ul>

			<div class="btn-group">
				<i class="icon-widget-arrow-up icon-btn left"></i>
			</div>
		</div>
	</div>
</div>
