<div class="content">
	<div class="row">
		<div class="col-md-12 signup">
			<h2>Opret din profil</h2>
			<p><b>Mit</b>PVS virker uden at du skal logge på fra gang til gang. Din e-mail bruges hvis din profil skal gendannes.</p>
			
			<form>
				<div class="form-group">
					<input type="text" class="form-control" required>
					<label for="exampleInputEmail1">Skriv dit fornavn</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" required>
					<label for="exampleInputEmail1">Skriv dit efternavn</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" required>
					<label for="exampleInputEmail1">Skriv din email</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" required>
					<label for="exampleInputEmail1">Gentag din email</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" required>
					<label for="exampleInputPassword1">Skriv dit telefonnummer</label>
				</div>
			</form>
			<div class="btn-group">
				<i class="icon-widget-arrow-up icon-btn left"></i>
				<div class="btn btn-filled">Opret</div>
			</div>
			<small>Det er altid muligt at ændre din opsætning</small>
		</div>
	</div>
</div>
