<div class="intro signup-login">
	<h1><span>Mit</span>PVS</h1>
	<p>Din personlige indgang til Patent- og Varemærkestyrelsen</p>
	<div class="btn-group">
		<div class="btn btn-filled">Opret ny profil</div>
		<div class="btn">Jeg har en profil</div>
	</div>
</div>