
.mobile-only {
	display: none;
	
	@media (max-width: $small-screen) {  
		display: block;
    }
}

header {
	position: absolute; 
	width: 100%;
	z-index: 500;
	top: 0px;

	.icon-mitpvs-logo {
		color: $white;
		font-size: 30px;

		@media (max-width: $small-screen) {  
			padding: 20px;
	    }
	}
	.header-wrapper {
		display: flex;
		align-items: center;
		position: relative; 
		justify-content: space-between;
		padding: 0 60px;
		width: 100%;
		background: linear-gradient(to bottom, $black, $light-black);
		height: 70px;
		z-index: 100;
		  
		
		@media (max-width: $small-screen) {  
			flex-direction: column; 
			height: auto;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 0;
	    }

		&.stick {
			position: fixed;
			top: 0;
			width: 100%;
			height: 70px;
			background: rgba($black, .9);

			@media (max-width: $small-screen) {  
				height: auto;
		    }
		}
	}
	.menu {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		height: 100%;
	
		li {
			height: 100%;
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			color: $white;
			margin-left: 45px;
			cursor: pointer;
			border-top: 5px solid transparent;
			transition: $transition;

			&:hover {
				border-top: 5px solid $orange;

				@media (max-width: $small-screen) {  
					border-color: transparent;
		    	}
			}

			p {
				font-family: light;
				margin-bottom: 0;
				margin-left: 25px;
			}

			i {
				color: $orange;
				font-size: 30px;
			}

			.submenu {
				display: none;
			}
		}

		@media (max-width: $small-screen) {  
			display: none;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			background-color: $light-black;
			padding-left: 0;
			overflow: hidden;
			
			li {

				display: block;
				width: 100%;
				padding: 20px 0 20px 0px;
				margin: 0;

				p {
					display: inline-block;
				}

				i:first-child(){
					margin-left: 20px;
				}
				.submenu {
					display: none;
					width: 100%;
					margin-top: 20px;
					background-color: $black;
					z-index: 100;
					padding-left: 0;
					padding-top: 20px;

					li {
						padding-left: 40px;
						&.current {
							border-left: 5px solid $orange;
							border-top: 0;
						}
					}
				}
			}
	    }
	}
	.radiobuttons {
		display: flex;
		margin: 0 auto;

		a.toggle {
			width: 100%;
			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 19px;
			color: $white;
			padding: 1.2em;
			transition: background .3s ease;
			box-shadow: 0 1px 8px 0 rgba($black, 0.1);
			transition: $transition;
			point-events: none;
			cursor: default;

			&:hover {
				text-decoration: none;
			}
		}
		.checkmark {
			display: inline-block;
			position: relative;
			margin-right: 20px;
			width: 30px;
			height: 30px;
			border: 1px solid $white;
			border-radius: 50%;
			transition: $transition;

		}
		
		.checked:after {
			content: '';
		    background-color: $white;
		    position: absolute;
		    width: 6px;
		    height: 6px;
		    left: 11px;
		    top: 11px;
		    border-radius: 50px;
		}

		.done:after {
			font-size: 16px;
			color: $orange;
			content: '\e901';
			font-family: 'icomoon';
		    position: absolute;
		    left: 6px;
		    top: 6px;
		    border-radius: 50px;
		}
	}
}



