<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Global Metas -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>learn VUE</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--[if lt IE 9]> HTML5Shiv
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
	<style>
		body {padding-top: 40px;}
	</style>
</head>
<body>
    <div id="app" class="container">
		<progress-view inline-template>
			<div>
				<h1>Your progress through this course is {{ completionRate }}%</h1>
				<button @click="completionRate *= 7">Update</button>
			</div>
		</progress-view>
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="15.js"></script>
    
</body>
</html>