/* dropdown */
span.select-dropdown-arrow {

    &:after {
        float: right;
        margin-top: -25px;
        margin-right: 17px;
        display: block;
        content: '';
        width: 7px;
        height: 7px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(45deg) translateY(-50%);
        transition: all 0.4s ease-in-out;
        transform-origin: 50% 0;
        pointer-events: none;
    }

    &.disabled {
        &:after {
            border-bottom: 1px solid $grey;
            border-right: 1px solid $grey;
        }
    }
}


/*checkbox inside dropdown*/
.checkbox-dropdown {
    position: relative;
    margin-bottom: 0px !important;
    min-width: 270px;

    label {
        background-color: $white;
        color: $black;
        margin-left: 0;
    }
    dt {
        font-weight: 100;
        margin: 0px;
        padding: 0px;

        a {
            width: 100%;
            border: 0;
            padding: 16px 2px;
            padding-left: 10px;
            background-color: $white;
            color: $grey;
            font-size: 14px;
            cursor: pointer;
            overflow: hidden;

            &:hover {
                opacity: 1 !important;
            }

            span:not(.disabled) {
                cursor: pointer;
                display: inline-block;
                color: black;
            }

            .multiSel {
                span {
                    cursor: pointer;
                    display: inline-block;
                    padding: 0 3px 2px 0;
                }
            }
        }

        a.disabled {
            &::placeholder {
                color: $grey;
            }
            color: $grey;
            cursor: default;
            background-color: $white;
        }
    }


    dd {
        margin: 0px;
        padding: 0px;
        position: relative;

        .mutliSelect {
            ul {
                z-index: 1;
                background-color: $white;
                border: 0;
                color: #000;
                display: none;
                left: 0px;
                padding: 25px 12px 2px 12px;
                position: absolute;
                top: 0px;
                width: 100%;
                list-style: none;
                height: auto;
                overflow: auto;

                li {
                    border: none !important;
                    margin-bottom: 15px;
                    a {
                        padding: 5px;
                        display: block;
                    }

                    .check-box-content {
                        padding-top: 0px;
                        float: right;

                        .check-box {
                            span {
                                background-color: $white;
                                height: 12px;
                                width: 12px;
                            }

                            [type=checkbox]:checked + input + span:before,
                            [type=checkbox]:checked + span:before { /* <-- style its checked state..with a ticked icon */
                                top: -3px;
                                left: 2px;
                            }
                        }
                    }

                    .btn {
                        margin-bottom: 15px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// when checked (top of table)
.checked-items {

    .table {
        .table-row {
            .table-cell {
                padding-bottom: 20px !important;
                padding-top: 20px !important;
            }
        }
    }

    .checked-item {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid $grey;
        margin-right: 10px;
        margin-bottom: 10px;

        &:after {
            font-family: 'icomoon';
            content: '\e906';
            cursor: pointer;
            padding-left: 10px;
            vertical-align: middle;
            font-size: 25px;
            color: $grey;
        }
    }
}

.checkbox-dropdown span.value {
    display: none;
}

span.checkbox-dropdown-arrow {
    position: relative;
    margin-right: 20px;
    
    @media (max-width: $medium-screen) {
        width: 50%;
    }

    @media (max-width: $small-screen) {
        margin-right: 0;
    }

    &:not(.disabled):after {
        display: flex;
        font-family: 'icomoon';
        font-weight: 600;
        content: '\e906';
        font-size: 23px;
        position: absolute;
        top: 12px;
        right: 5px;
        bottom: 0;
        pointer-events: none;
        transition: $transition;
    }
}


.drop-desc {
    padding-left: 12px;
    font-family: italic;
    font-size: 11px;
    color: $grey!important;
    display: none;
    position: absolute;
    top: 45px;
    z-index: 100;
}
