@import "variables.scss";
@import "textstyles.scss";
@import "../components/loader.scss";
@import "utils.scss";


* {
    font-family: regular;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


img {
    width: 100%;
    height: auto;
}
    
a {
    &:hover {
        text-decoration: none;
    }
}

//******************//
// Background image //
//*****************//

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
    /*overflow-y: scroll;*/

    &-content {
        display: flex;
        position: absolute; 
        top: 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
        max-width: 1000px;
        z-index: 100;
    }

    &::after {
        content:"";
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba($black, .5);
        z-index: 10;
    }
}

.intro {
    max-width: 750px;

    .btn {
        margin: 0 25px;

        &-group {
            width: 100%;
            margin-top: 70px;

            .btn {
                margin: 0;
            }
            @media (max-width: $small-screen) {   
                margin-top: 25px;
            }
        }
    }
}

.rotate {
    transform: rotate(180deg);
    transition: $transition;
    transform-origin: 50% 50%;
}