
// *********************** //
// Widget list 		       //
// *********************** //
a {
    &:hover {
        text-decoration: none;
    }
}

.widget-list {
	margin-top: 10px;
	list-style-type: none;
	padding-left: 0px;
	overflow-y: auto;
	max-height: 300px;
	

	li {
		display: flex;
		align-items: center;
		position: relative;
		color: $white;
		font-family: regular;
		font-size: 14px;
		line-height: 30px;
		padding-left: 40px;

		&:before {
			position: absolute;
			font-family: icomoon;
		    content: '\e911';
		    left: 0;
		    font-size: 25px;
		    color: $orange;
		    transition: $transition;
		}

		&:hover::before  {
			left: 5px;
		}
	}

	&.expand-list {
		margin-top: 10px;
		display: none;
	}
}

// *********************** //
// Modal list              //
// *********************** //
.modal-list {

	&.edit li {
		background-color: $dark-white;

		&:hover {
			background-color: $white;
		}

		i {
			display: inline-block;
		}
	}
	li {
		position: relative;
		color: $black;
		border-bottom: 1px solid $white;
		transition: $transition;
		cursor: pointer;
		padding: 2px 35px;
		
		&:before {
			position: absolute;
			left: 0;
			transition: $transition;
		}
		&:hover::before {
			left: 5px;
		}

		a {
			color: $black;
		}

		i {
			display: none;
			position: absolute;
			font-size: 24px;
			color: $black;
			right: 5px;
			top: 5px;

			&:first-child {
				right: 32px;
			}
		}
	}
}

// *********************** //
// Link list               //
// *********************** //
.link-list {
	li {
		display: flex;
		align-items: flex-start;
		border-bottom: 1px solid $dark-grey;
		padding-bottom: 10px;
		margin-bottom: 10px;
		width: 100%;
		
		&:last-child {
			border-bottom: 0;

		}
		p {
			margin-bottom: 0;
		}

	}

	small {
		color: $grey;
	}
}

// *********************** //
// payment info list       //
// *********************** //
.payment-info-list {
	padding-left: 0;

	h5 {
		font-family: light;
		font-size: 14px;
		color: $white;
		letter-spacing: 0.7px;
	}

	p {
		color: $dark-grey;
		font-size: 14px;
		line-height: 22px;
	}

	li {
		margin-bottom: 15px;
		border-bottom: 1px solid $dark-grey;
	}

	li:last-child {
		margin-bottom: 0;
		border-bottom: none;
	}
}


// *********************** //
// Icon list 		       //
// *********************** //

.icon-list {
	margin-top: 35px;
	list-style-type: none;
	padding-left: 0px;

	li {
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		p {
			margin-bottom: 0;

			span {
				font-family: bold;
				color: $orange;
			}
		}

		i {
			align-self: flex-start;
			font-size: 36px;
			border-radius: 50px;
			padding: 8px;
			background: $dark-white;
			margin-right: 25px;
		}

		.fi {
			font-size: 32px;
			padding: 10px;
		}
	}
}

// *********************** //
// Share list 		       //
// *********************** //
.share-list {
	display: flex;
	list-style-type: none;
	padding-left: 10px;

	li {
		display: flex;
		margin-right: 15px;
		
		i {
			margin-right: 5px;
		}

		p {
			font-size: 12px;
			margin-bottom: 0;
		}
	}
}

// ****************** //
// order list 		  //
// ****************** //
 ol {
	list-style: none;

	li {
		counter-increment: item;
		margin-bottom: 5px;
		padding: 15px 0;

		.btn {
			display: inline-block;
			margin: 15px 0;
		}
	}
	li:before {
	    content: counter(item);
	    color: $black;
	    background-color: $dark-white;
	    width: 2em;
	    height: 2em;
	    text-align: center;
	    position: absolute;
	    display: flex;
	    align-items: center;
	    left: 15px;
	    justify-content: center;
	}
 }

// ****************** //
// Radio Button  	  //
// ****************** //
 .radio-list {
 	list-style: none;
	width: 80%;
	margin: 20px 0;
	padding-left: 0;
	
	li {
 		display: flex;
 		justify-content: center;
 		margin-bottom: 10px;
 		padding: 5px;
 		color: $black;
 		box-shadow: 0 2px 8px rgba($black, .10);
 	}


	// checkmark
	/* The container */
	.container {
 		padding: 20px 60px;
	    display: block;
	    position: relative;
	    margin-bottom: 0px;
	    cursor: pointer;
	    font-size: 14px;
	    user-select: none;
	    color: $black;
	}

	/* Hide the browser's default radio button */
	.container input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}

	/* Create a custom radio button */
	.checkmark {
	    position: absolute;
	    top: 14px;
	    left: 10px;
	    height: 30px;
	    width: 30px;
	    background-color: $white;
	    border-radius: 50%;
	    border: 1px solid $orange;
	    transition: $transition;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
	    // background-color: $orange;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.container input:checked ~ .checkmark:after {
	    display: block;
	    background-color:  $orange;
	}

	.checked {
	    background-color:  $orange;
	    label {
	    	color: $white;
	    }
	}


	/* Style the indicator (dot/circle) */
	.container .checkmark:after {
	 	top: 9px;
		left: 9px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: white;
	}
	

 }
