/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;

    @media (max-width: $medium-screen) {
        width: 50%;
    }
}
.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}
.select-selected {
    background-color: $white;
	height: 54px;
 	user-select: none;
}
/*style the arrow inside the select element:*/

.select-selected:after {
    font-family: icomoon;
    position: absolute;
    content: "\e913";
    font-size: 35px;
    top: 4px;
    right: 35px;
    width: 0;
    height: 0;
}
/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
   content: "\e912";
}
/*style the items (options), including the selected item:*/

.select-items div, .select-selected {
	font-family: regular;
	font-size: 14px;
    color: $black;
    padding: 15px 10px;
    cursor: pointer;
    transition: $transition;
 	user-select: none;
}
/*style items (options):*/

.select-items {
    position: absolute;
    background-color: $white;
    top: 70%;
    left: 0;
    right: 0;
    z-index: 99;
    margin-top: 15px;
    box-shadow: 0px 38px 85px -45px rgba($black, 0.85);
}
/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: $dark-white;
}