.step-dots {
	display: flex;
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;

	.dots {
		width: 7px;
		height: 7px;
		border-radius: 50px;
		background: $grey;
		margin-right: 8px;

		&.active {
			background: $orange;
		}
	}
	.dots:last-child {
		margin-right: 0;
	}
}