// ******************* //
// Bootstrap overrides //
//*******************  //

$tooltip-border-radius:       0 !default;
$tooltip-padding-x:           .7rem !default;
$tooltip-padding-y:           .3rem !default;
$tooltip-font-size:          11px !default;
$tooltip-arrow-width:         .3rem !default;
$tooltip-arrow-height:        .2rem !default;


//**************//
// Colors    //
//**************//

$white: #ffffff;
$dark-white: #f1f2f2;
$black: #000000;
$light-black: #303030;
$grey: #cccccc;
$light-grey: #e8e8e8;
$dark-grey: #666666;
$orange: #fb8631;
$green: #00BE03;
$red: #FF0000;

//**************//
// Transition   //
//**************//

$transition: all 0.2s ease-in-out;


//**************//
// Fonts    //
//**************//

@font-face {
    font-family: regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: semiBold;
    src: url(../fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

//**************//
// SCREEN SIZE    //
//**************//

$small-screen: 800px;
$medium-screen: 1024px;
$large-screen: 1280px;


//**************//
// Color class  //
//**************//

.grey {
    color: $dark-grey!important;
}