<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="assets/js/app.js"></script>
<footer class="footer">
	<a href="#" data-toggle="modal" data-target="#m-info">Introduktion til <b>Mit</b>PVS</a>
</footer>
	<!--=include ../modal/modal-info.html -->

