<header class="header">
	<div class="header-wrapper">
		<i class="icon-mitpvs-logo"></i>
		<form class="radiobuttons" action="#">

			<a class="toggle" href="javascript:void(0);"><div class="checkmark checked"></div>Rettighedsområder</a>
			<a class="toggle" href="javascript:void(0);"><div class="checkmark"></div>Kategori</a>
		</form>		
	</div>
</header>
   