<!-- Widget Three -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-agenda"></i>
			<p>Design guidelines 3.1</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Søg i guidelines</li></a>
			<a href="#"><li class="active">Se seneste ændringer</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<ul class="widget-list link-list">
			
				<li>
					<a href="#">
						<div class="link">
							<p>Lov om ændring af retsplejeloven, lov om Bruxelles I-forordningen m.v. og forskellige andre love</p>
							<small>§ 4 Lov nr. 670 af 8.06.2017§ 4 Lov nr. 670 af 8.06.2017</small>
						</div>
					</a>
					
				</li>
			
			
				<li>
					<a href="#">
						<div class="link">
							<p>Bekendtgørelse af varemærkeloven</p>
							<small>LBK nr. 103 af 24.01.2012</small>
						</div>
					</a>
				</li>
			
			
				<li>
					<a href="#">
						<div class="link">
							<p>Bekendtgørelse af fællesmærkeloven</p>
							<small>LBK nr. 103 af 24.01.2012</small>
						</div>
					</a>
				</li>
			
		</ul>

		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se flere</span>
		</a>
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Gå til Varemærkeguidelines
			</div>
		</a>
	</div>
</div>