<!-- Widget Four -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-id-card-5"></i>
			<p>Pris &amp; betaling 4.2</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Se priser &amp; gebyr</li></a>
			<a href="#"><li>Betal faktura</li></a>
			<a href="#"><li class="active">Se betalingsoplysninger</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<ul class="payment-info-list">
			<li>
				<h5>Bankoplysninger</h5>
				<p>Reg.nr 0216, Kontonr: 4069056296</p>
				<p>
					Swift-nr: DABADKKK <br />
					IBAN-nr: DK66021640069056296 <br />
					Swift-nr: 579800002504 <br />
				</p>
				<p>Danske Bank, Holmens kanal 2-12, DK-1092 København K</p>
			</li>
			<li>
				<h5>Betalingsmidler</h5>
				<p>Dankort, VISA/dankort, EURO/Mastercard, American Express, VISA, VISA Electronic, JCP via hjemmesiden.</p>
			</li>
		</ul>		
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Se forretningsbetingelser
			</div>
		</a>
	</div>
</div>