<!-- Widget Five -->
<div class="widget news-feed">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-megaphone-1"></i>
			<p>Nyhed og kurser fra PVS 5</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li class="active">Vis alle</li></a>
			<a href="#"><li>Nyheder</li></a>
			<a href="#"><li>Kurser</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="news-slider owl-carousel owl-theme news-slider-js">
			<div class="item">
				<img src="assets/images/demo/2.jpg" alt="Demo">
				<div class="slider-content">
					<small>02.06.2017</small>
					<p><span>Nyhed:</span> Lego er verdens stærkeste brand og mest værdigfulde varemærke</p>
				</div>
			</div>
			<div class="item" >
				<img src="assets/images/demo/1.jpg" alt="Demo">
				<div class="slider-content">
					<small>02.06.2017</small>
					<p><span>Nyhed:</span> Lego er verdens stærkeste brand og mest værdigfulde varemærke</p>
				</div>
			</div>
			<div class="item" >
				<img src="assets/images/demo/1.jpg" alt="Demo">
				<div class="slider-content">
					<small>02.06.2017</small>
					<p><span>Nyhed:</span> Lego er verdens stærkeste brand og mest værdigfulde varemærke</p>
				</div>
			</div>
		</div>
	</div>
	<div class="widget-footer">
		<ul class="widget-list">
			<a href="#">
				<li>Tilmeld dig PVS Nyhedsbrev</li>
			</a>
			<a href="#">
				<li>Se flere nyheder</li>
			</a>
		</ul>
	</div>
</div>