<!-- Widget Six -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-edit-1"></i>
			<p>Ansøg patent og brugsmodel 6</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li class="active">Søg i Danmark</li></a>
			<a href="#"><li>Søg internationalt</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="filter">
			<!-- filter 1-->
			<div class="custom-select w100">
				<select>
					<option>Vælg rettighedstype</option>
					<option value="1">Patentansøgning</option>
					<option value="2">DK/EP validering</option>
					<option value="3">Brugsmodeansøgning</option>
				</select>
			</div>
		</div>

		<div class="switch">
			<div class="input_wrapper">
				<input type="checkbox">
				<i class="icon-check is_checked"></i>
				<span class="is_unchecked">|</span>
			</div>
			<p>Forudfyldt fx. ansøger eller fuldmægtig</p>
		</div>
		
		<div class="search-filter">
			<div class="filter">
				<!-- filter 1-->
				<div class="custom-select">
					<select>
						<option value="1">Find ansøger</option>
						<option value="2">Find fuldmægtig</option>
					</select>
				</div>
			</div>
			<div class="input-search" disabled="">
				<input type="text" class="form-control" placeholder="Skriv fx. Smidt A/S" aria-label="Søg">
				<button class="btn_search" type="button"><i class="icon-search"></i></button>
			</div>
		</div>
		<div class="tags-wrapper">
			<p>Dit valg:</p>
			<ul class="tags">
				<a href="#"><li>Ansøger, Lego A/S</li></a>
			</ul>
		</div>
		<label><input type="checkbox" name="checkbox" value="2" class="checkbox">Attention: Jens Nielsen </label>
		<div class="btn-align-right">
			<div class="btn-widget">Start ansøgning</div>
		</div>
		
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Se priser
			</div>
		</a>

		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Vis blanketter og vejledninger</span>
		</a>
		<ul class="widget-list expand-list">
			<a href="#"><li>Lorem 1</li></a>
			<a href="#"><li>Lorem 2</li></a>
			<a href="#"><li>Lorem 3</li></a>
		</ul>
	</div>
</div>
