<!-- Widget Nine -->
<div class="widget systemstatus">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-server-1"></i>
			<p>Systemstatus 9</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-content">
		<!--accordion-->
			
		<ul class="accordion">
			<li>
				<div class="toggle service">
					<div class="service-name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Klik og se mere">
						<p>Guidelines for varemærker</p>
						<small>Service planlagt 13.05.2018</small>					
					</div>
					<div class="status up">up</div>
				</div>
				<div class="inner service-info">
					<small>13.05.2018</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla veniam tempore natus dolores modi temporibus!</p>
					<a href="#">
						<div class="btn btn-light">
							<i class="icon-arrow-link"></i>
							Se mere
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="toggle service">
					<div class="service-name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Klik og se mere">
						<p>Ip-Client</p>
					</div>

					<div class="status down">down</div>
				</div>
				<div class="inner service-info">
					<small>01.01.18</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla veniam tempore natus dolores modi temporibus!</p>
					<a href="#">
						<div class="btn btn-light">
							<i class="icon-arrow-link"></i>
							Se mere
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="toggle service">
					<div class="service-name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Klik og se mere">
						<p>Guidelines for brugsmodel</p>
					</div>

					<div class="status up">up</div>
				</div>
				<div class="inner service-info">
					<small>01.01.18</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla veniam tempore natus dolores modi temporibus!</p>
					<a href="#">
						<div class="btn btn-light">
							<i class="icon-arrow-link"></i>
							Se mere
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="toggle service">
					<div class="service-name" data-toggle="tooltip" data-placement="top" title="" data-original-title="Klik og se mere">
						<p>PVSFiles</p>
					</div>
					<div class="status up">up</div>
				</div>
				<div class="inner service-info">
					<small>01.01.18</small>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla veniam tempore natus dolores modi temporibus!</p>
					<a href="#">
						<div class="btn btn-light">
							<i class="icon-arrow-link"></i>
							Se mere
						</div>
					</a>
				</div>
			</li>
		</ul>
		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se flere (2)</span>
		</a>
		
	</div>
	<div class="widget-footer">
		<div class="btn-group">
			<a href="#">
				<div class="btn btn-light">
					<i class="icon-arrow-link"></i>
					Indmeld systemfejl
				</div>
			</a>

			<div class="group">
				<a href="#">
					<div class="btn-widget btn-clear">
						Rediger
					</div>
				</a>
			</div>
		</div>
	</div>
</div>