<!-- Widget Three -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-agenda"></i>
			<p>Design guidelines 3</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li class="active">Søg i guidelines</li></a>
			<a href="#"><li>Se seneste ændringer</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="radio-filter">
			<small>Du søger i:</small>
			<form class="radiobuttons" action="#">
				<p>
					<input type="radio" id="filter1" name="radio-group" checked>
					<label for="filter1">Artikler</label>
				</p>
				<p>
					<input type="radio" id="filter2" name="radio-group">
					<label for="filter2">Love &amp; regler</label>
				</p>
				<p>
					<input type="radio" id="filter3" name="radio-group">
					<label for="filter3">Domme &amp; afgørelser</label>
				</p>
			</form>
		</div>
		<div class="input-search space">
			<input type="text" class="form-control" placeholder="Skriv fx 05" aria-label="Søg">
			<button class="btn_search" type="button" disabled><i class="icon-search"></i></button>
			<div class="btn btn-filled">Søg</div>
		</div>

		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se din søgehistorik</span>
		</a>
		<ul class="widget-list expand-list">
			<a href="#"><li>Lorem 1</li></a>
			<a href="#"><li>Lorem 2</li></a>
			<a href="#"><li>Lorem 3</li></a>
		</ul>
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Gå til Varemærkeguidelines
			</div>
		</a>
	</div>
</div>