<!-- Widget Five -->
<div class="widget news-feed">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-megaphone-1"></i>
			<p>Nyhed og kurser fra PVS 5.1</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Vis alle</li></a>
			<a href="#"><li>Nyheder</li></a>
			<a href="#"><li class="active">Kurser</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="courses-slider owl-carousel owl-theme news-slider-js">
			<div class="item">
				<img src="assets/images/demo/1.jpg" alt="Demo">
				<div class="slider-content">
					<small>Dato: 02.06.2017</small>
					<small>Lokation: Ikas</small>
					<p><span>Kursus:</span> Aktuel varemærkepraksis 2017</p>
				</div>
			</div>
			<div class="item" >
				<img src="assets/images/demo/2.jpg" alt="Demo">
				<div class="slider-content">
					<small>02.06.2017</small>
					<small>Lokation: Haderslev</small>

					<p><span>Kursus:</span> Lego er verdens stærkeste brand og mest værdigfulde varemærke</p>
				</div>
			</div>
			<div class="item" >
				<img src="assets/images/demo/1.jpg" alt="Demo">
				<div class="slider-content">
					<small>Dato 02.06.2017</small>
					<small>Lokation: Amager</small>
					<p><span>Kursus:</span> Lego er verdens stærkeste brand og mest værdigfulde varemærke</p>
				</div>
			</div>
		</div>
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Tilmeld dig PVS kursusmail
			</div>
		</a>
	</div>
</div>