form {

	width: 100%;
	max-width: 420px;

	.btn {
		margin: 0 auto;
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.form-group {
		position: relative;

		label {
			width: 100%;
			background-color: $white;
			position:absolute;
			pointer-events:none;
			padding-left: 10px;
			top: 10px;
			transition: $transition; 
			color: $dark-grey;
		}
	}
	.form-control {
		color: $black;
		border: none;
		border-bottom: 1px solid transparent;
		border-radius: 0;
		padding: 0.7rem 0.75rem;	
		padding-left: 10px;
		margin-top: 1.7rem;
		
		&:focus {
			border-bottom: 1px solid $orange;
	  		outline: none;
	  		box-shadow: none;
		}

		&:focus + label, &:valid + label {
  			top: -18px;
  			left: 0;
  			font-size: 12px;
  			color: $orange;
		}
		
		&:valid {
			border-bottom: 1px solid $green;
		}

		&:valid + label {
			color: $green;
		}


	}

	.notValid {
		.form-control {
			border-bottom: 1px solid $red;
		}

		label {
			top: -20px;
  			left: 0;
  			font-size: 12px;
  			color: $red!important;
		}
	}
}

.modal form .form-group {
	label {
		font-size: 12px;
		line-height: 17px;
		color: $dark-grey;
	}

	.form-control {
		font-size: 14px;
		
		&:focus {
			border-bottom: 1px solid $orange;
	  		outline: none;
	  		box-shadow: none;
		}

		&:focus + label, &:valid + label {
  			top: -20px;
  			left: 0;
  			font-size: 12px;
  			color: $orange;
		}
		
		&:valid {
			border-bottom: 1px solid $green;
		}

		&:valid + label {
			color: $green;
		}


	}

	&.notValid {

		.form-control {
			border-bottom: 1px solid $red;

			&:valid {
				border-bottom: 1px solid $red;
			}
		}

		label {
			top: -20px;
  			left: 0;
  			font-size: 12px;
  			color: $red;
		}
	}
}           
