.noticication {
	display: flex;
	position: relative;
	top: 70px;
	background-color: $white;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	width: 100%;
	padding: 0 60px;
	z-index: 1000;
	
	@media (max-width: $small-screen) {   
        padding: 5px 10px;
        height: auto;
        flex-direction: column;
        width: 100%;
    }
	.msg {
		display: flex;
		align-items: center;
		font-size: 14px;
		line-height: 19px;

		i {
			color: $orange;
			font-size: 34px;
			margin-right: 15px;
		}
		span {
			font-family: bold;
		}
		p {
			margin-bottom: 0;
		}

		@media (max-width: $small-screen) {   
	    	flex-direction: column;
			margin: 10px 0;

			i {
				margin-bottom: 10px;
			}
	    	p {
	    		text-align: center;
	    	}
	    }
	}

	.btn {
		background-color: $orange;
		max-width: 110px;

		&:hover {
			color: $white;
			background-color: darken($orange, 5%);
			border-color: $white
		}

		@media (max-width: $small-screen) {   
	    	margin-bottom: 10px;
	    }
	}
}