.restoreprofile {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	h2, p, small {
		text-align: center;
		color: $black;
	}

	small {
		color: $grey;
		margin-bottom: 15px;
	}

	.accordion {
		margin-top: 25px;
	}
	 .btn-group {
	 	margin-bottom: 0;

	 	.icon-btn {
	 		position: relative;

	 		&:hover {
	 			background-color: $grey;
	 		}
	 	}
	 }
}