<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Global Metas -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>learn VUE</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--[if lt IE 9]> HTML5Shiv
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <style type="text/css">
       
    </style>
</head>
<body>
    <div id="app">
        <h1 v-text="new Date()"></h1>
        

        <h2>Incomplete tasks</h2>
        <ul>
            <li v-for="(task, index) in incompleteTasks">
                {{task.description}} - {{ index }} - <button @click="taskDone(index)">Done</button>
            </li>
        </ul>

        <h2>complete tasks</h2>
        <ul>
            <li v-for="(task, index) in completeTasks"> {{task.description}} <button @click="taskNotDone(index)">Not Done</button></li>
        </ul>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="node_modules/vue-grid-layout/dist/vue-grid-layout.min.js"></script>
    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                tasks: [
                    {description: "Driv to soccer", completed: false},
                    {description: "Fly drone", completed: false},
                    {description: "Make Money", completed: false},
                    {description: "Go buy a cat", completed: true},
                    {description: "Clean Roome", completed: true},
                    {description: "Learn Vue", completed: true}
                ]
            },
            methods: {
               taskDone(index){
                    this.tasks[index].completed = true;
               },
               taskNotDone(index){
                    this.tasks[index].completed = false;
               }
            },
            computed: {
                incompleteTasks(){
                    return this.tasks.filter(task => ! task.completed);
                },
                completeTasks(){
                    return this.tasks.filter(task => task.completed);
                }
            }
        });

        // https://laracasts.com/series/learn-vue-2-step-by-step/episodes/4?autoplay=true
    </script>
</body>
</html>