<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Global Metas -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<meta property="og:title" content="Widget"> 
	<meta property="og:site_name" content="MitPVS"> 
	<meta property="og:url" content="https://pvs.dk/widget"> 
	<meta property="og:description" content="">
	<meta property="og:type" content="website">

	<title>MitPVS</title>

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--[if lt IE 9]> HTML5Shiv
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- CSS's -->
	<link rel="stylesheet" href="deploy/assets/css/app.css">

	<!-- Favicons -->
	<link rel="shortcut icon" href="deploy/assets/images/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="57x57" href="deploy/assets/images/icon57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="deploy/assets/images/icon72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="deploy/assets/images/icon76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="deploy/assets/images/icon114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="deploy/assets/images/icon120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="deploy/assets/images/icon144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="deploy/assets/images/icon152.png">
	<link rel="apple-touch-icon" sizes="160x160" href="deploy/assets/images/icon160.png">
	<link rel="apple-touch-icon" sizes="180x180" href="deploy/assets/images/icon180.png">
</head>
<body>
    <div id="app" class="wrapper" style="background-image: url(assets/images/demo/1.jpg)">
        <div class="widget-wrapper">
            <!--<button @click="addItem">Add an item</button>-->
            <grid-layout :layout="layout"
                            :col-num="12"
                            :row-height="50"
                            :is-draggable="true"
                            :is-resizable="false"
                            :vertical-compact="true"
                            :use-css-transforms="true"
            >
                <grid-item v-for="item in layout"
                            :x="item.x"
                            :y="item.y"
                            :w="item.w"
                            :h="item.h"
                            :i="item.i"
                            drag-allow-from=".vue-draggable-handle"
                            drag-ignore-from=".no-drag"
                >
                <div class="widget no-drag">
                    <div class="topbar">
                        <div class="title">
                            <i class="fi flaticon-push-pin vue-draggable-handle"></i>
                            <p>Mine genveje</p>
                            <i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>
                
                        </div>
                        <div class="options">
                    <a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
                    <div class="options-wrapper">
                        <a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
                        <a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
                    </div>
                            
                    <a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
                </div>
                    </div>
                    <div class="widget-content">
                        
                    </div>
                </div>
                </grid-item>
            </grid-layout>
        </div>
    
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="node_modules/vue-grid-layout/dist/vue-grid-layout.min.js"></script>
    <script>
	
	var GridLayout = VueGridLayout.GridLayout;
	var GridItem = VueGridLayout.GridItem;
	
	new Vue({
        el: '#app',
        components: {
            GridLayout,
            GridItem,
        },
        data: {
            layout: [
                {"x":0,"y":0,"w":6,"h":2,"i":"0"},
                {"x":6,"y":0,"w":6,"h":2,"i":"1"},
                {"x":0,"y":0,"w":6,"h":4,"i":"2"},
                {"x":6,"y":0,"w":6,"h":4,"i":"3"},
                {"x":0,"y":0,"w":6,"h":4,"i":"4"},
                {"x":6,"y":0,"w":6,"h":2,"i":"5"},
                {"x":0,"y":0,"w":6,"h":4,"i":"6"},
                {"x":6,"y":0,"w":6,"h":4,"i":"7"}
            ],
            index: 0
        },
    });
        // https://laracasts.com/series/learn-vue-2-step-by-step/episodes/4?autoplay=true
    </script>
</body>
</html>