.modal {
	&-backdrop {
		z-index: 80;
	}

	
	&.large .modal-dialog {
		max-width: 800px;

	}

	.modal-dialog {
		max-width: 550px;
		width: 100%;
		

		@media (max-width: $small-screen) {  
	        margin: 0;
	    }
	}

	&-content {
		border-radius: 0;
		max-height: 800px;
		overflow-y: auto;
	}

	&-header {
		padding: 1rem 1.5rem;
		border-color: $dark-white;
		align-items: center;
		min-height: 60px;
		.modal-title {
			font-size: 16px;
			line-height: 22px;
			span {
				font-family: bold;
			}
		}
		
		.close span {
			font-family: light;
		}
	}
	
	&-body {
		padding: 1rem 1.5rem;

		h2 {
			font-size: 24px;
			line-height: 32px;
			color: $black;
		}
		span {
			font-family: bold;
		}
		p {
			font-size: 14px;
			line-height: 22px;
		}
	}

	form .form-control {
		border-bottom: 1px solid $grey;
	}

	&-footer {
		padding: 1rem 1.5rem;
		justify-content: flex-start;
		border-top: none;
		min-height: 50px;
		
		&.footer-download {
			padding: .6rem 1.5rem;
			justify-content: center;
			background-color: $dark-white;
			a {
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}
			}

			span {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: $light-black;
				transition: $transition;

				&:hover {
					color: $orange;
				}

				i {
					font-size: 18px;
					color: $orange;
					margin-right: 7px;
				}
			}
			span:last-child {
				margin-right: 0;
			}
		}
	}
}