.body-header {
	p {
		font-size: 16px;
		margin-bottom: 0;
		font-style: italic;
	}
}

.body-body {

	.content {
		h4:first-child {
			margin-top: 0;
		}

		h4 {
			margin-top: 40px;
			font-family: bold;
			font-size: 14px;
			color: $light-black;
		}

		.item {
			display: flex;
			justify-content: space-between;
			padding-left: 25px;
			
			p:first-child {
				max-width: 70%;
			}

			p:last-child {
				align-self: flex-end;
			}
		}
	}
}