<!--=include base/head.html -->

<body>
		<!--=include base/header.html -->
		<!--=include components/notification.html -->

		<div class="wrapper" style="background-image: url(assets/images/demo/1.jpg)">
			<div class="widget-wrapper">
				<!--=include components/widgets/widget-one.html -->
				<!--=include components/widgets/widget-two.html -->

				<!--=include components/widgets/widget-three.html -->
				<!--=include components/widgets/widget-three-1.html -->

				<!--=include components/widgets/widget-four.html -->
				<!--=include components/widgets/widget-four-1.html -->
				<!--=include components/widgets/widget-four-2.html -->
				
				<!--=include components/widgets/widget-five.html -->
				<!--=include components/widgets/widget-five-1.html -->
				<!--=include components/widgets/widget-five-2.html -->

				<!--=include components/widgets/widget-six.html -->
				<!--=include components/widgets/widget-six-1.html -->

				<!--=include components/widgets/widget-seven.html -->
				
				<!--=include components/widgets/widget-eight.html -->

				<!--=include components/widgets/widget-nine.html -->

				<!--=include components/widgets/widget-ten.html -->
				

			</div>
		</div>
		<!--=include base/footer.html -->

	</body>
</html>