<!--=include base/head.html -->

	<body>
		<header class="header">
			<div class="header-wrapper">
				<i class="icon-mitpvs-logo"></i>
				<nav class="menu">
					<li>
						<i class="fi flaticon-share-2"></i>
						<p>Overview</p>
					</li>
				</nav>	
			</div>
		</header>
   
		
	<div class="content">
		<p>Settings</p>
		<ul class="widget-list modal-list" style="max-height: 100%;">
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/add-widget.html"><li>Add widget</li></a>

	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/edit-profil.html"><li>Rediger Profil</li></a>
	       
		</ul>

		<p>Opret profil</p>
		<ul class="widget-list modal-list">
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/createprofile.html"><li>Opret profil</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/signup.html"><li>Signup</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/alternate-email.html"><li>Alternativ e-mail</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/signup-done.html"><li>Oprettelse gennemført</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/restoreprofile.html"><li>Gendan Profil</li></a>
		</ul>
		
		<p>Tilpas profil</p>
       <ul class="widget-list modal-list"> 
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/adjust-profil-1.html"><li>Tilpas profil</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/category.html"><li>Tilpas step 1</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/category-1.html"><li>Tilpas step 2</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/signup-done.html"><li>Gennemført</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/loading.html"><li>Loading</li></a>
	    </ul>
		
		<p>Modal</p>
		<ul class="widget-list modal-list"> 
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/all-modal.html"><li>Alle modal vinduer</li></a>
	    </ul>

	    <p>Front</p>
	    <ul class="widget-list modal-list"> 
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/widgets.html"><li>Widgets</li></a>
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/notification.html"><li>Notification</li></a>
	    </ul>

		<p>Ekstra</p>
	    <ul class="widget-list modal-list">
	        <a target="_blank" href="http://kunder.cabana.dk/Markup/pvs/utils.html"><li>Utils</li></a>
	    </ul>
	</div>
</div>

	</body>
<!--=include base/footer.html -->
