
<!--=include base/head.html -->
<body>
	<!--=include base/non-header.html -->
	
	<div class="wrapper" style="background-image: url(assets/images/demo/1.jpg)">

		<div class="wrapper-content">
			<!--=include components/restoreprofile.html -->
		</div>
	</div>
<!--=include base/footer.html -->
	</body>
</html>

