<!--=include base/head.html -->
<body class="utils-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="utils">
				<h3>UI Colors</h3>
				<div class="color-boxes">
					<div class="box">
						<div class="color-box" id="orange"></div>
						<p>Orange</p>
						<p>#FB8631</p>
						<p>$orange</p>
					</div>
					<div class="box">
						<div class="color-box" id="orange"></div>
						<p>Hover Orange</p>
						<p>#db5f04</p>
						<p>darken($orange, 10%)</p>
					</div>
					<div class="box">
						<div class="color-box" id="black"></div>
						<p>Black</p>
						<p>#000000</p>
						<p>$black</p>
					</div>
					<div class="box">
						<div class="color-box" id="light-black"></div>
						<p>Light Black</p>
						<p>#303030</p>
						<p>$light-black</p>
					</div>
					<div class="box">
						<div class="color-box" id="grey"></div>
						<p>Grey</p>
						<p>#cccccc</p>
						<p>$grey</p>
					</div>
					<div class="box">
						<div class="color-box" id="dark-grey"></div>
						<p>Dark Grey</p>
						<p>#666666</p>
						<p>$dark-grey</p>
					</div>
					<div class="box">
						<div class="color-box" id="white"></div>
						<p>White</p>
						<p>#ffffff</p>
						<p>$white</p>
					</div>
					<div class="box">
						<div class="color-box" id="dark-white"></div>
						<p>Dark White</p>
						<p>#f1f2f2</p>
						<p>$dark-white</p>
					</div>
					<div class="box">
						<div class="color-box" id="green"></div>
						<p>Green</p>
						<p>#00BE03</p>
						<p>$green</p>
					</div>
					<div class="box">
						<div class="color-box" id="red"></div>
						<p>Red</p>
						<p>#FF0000</p>
						<p>$red</p>
					</div>
				</div>

				<h3>UI Icons</h3>
				<code>
					Use: &lt;i class="icon-widget-move"&gt;&lt;/i&gt;
				</code>
				<div class="icons">
					<ul>
						<li>
							<i class="icon-mitpvs-logo"></i>
							<p>icon-mitpvs-logo</p>
						</li>
						<li>
							<i class="icon-widget-move"></i>
							<p>icon-widget-move</p>
						</li>
						<li>
							<i class="icon-widget-close"></i>
							<p>icon-widget-close</p>

						</li>
						<li>
							<i class="icon-widget-arrow-down"></i>
							<p>icon-widget-arrow-down</p>
						</li>
						<li>
							<i class="icon-widget-arrow-up"></i>
							<p>icon-widget-arrow-up</p>
						</li>
						<li>
							<i class="icon-widget-more"></i>
							<p>icon-widget-more</p>

						</li>
					</ul>
					<ul>
						<li>
							<i class="icon-plus"></i>
							<p>icon-plus</p>
						</li>
						<li>
							<i class="icon-check"></i>
							<p>icon-check</p>

						</li>
						<li>
							<i class="icon-arrow-up"></i>
							<p>icon-arrow-up</p>
						</li>
						<li>
							<i class="icon-arrow-down"></i>
							<p>icon-arrow-down</p>
						</li>
						<li>
							<i class="icon-close"></i>
							<p>icon-close</p>
						</li>
						<li>
							<i class="icon-arrow-right"></i>
							<p>icon-arrow-right</p>
						</li>
						<li>
							<i class="icon-arrow-left"></i>
							<p>icon-arrow-left</p>
						</li>
					</ul>
					<ul class="colored">
						<li>
							<i class="icon-arrow-link"></i>
							<p>icon-arrow-link</p>
						</li>
						<li>
							<i class="icon-help"></i>
							<p>icon-help</p>
						</li>
						<li>
							<i class="icon-user"></i>
							<p>icon-user</p>
						</li>
						<li>
							<i class="icon-search"></i>
							<p>icon-search</p>
						</li>
						<li>
							<i class="icon-menu"></i>
							<p>icon-menu</p>
						</li>
						<li>
							<i class="icon-add"></i>
							<p>icon-add</p>
						</li>
						<li>
							<i class="icon-expand-arrrow-down"></i>
							<p>icon-expand-arrrow-down</p>
						</li>
						<li>
							<i class="icon-expand-arrrow-up"></i>
							<p>icon-expand-arrrow-up</p>
						</li>
					</ul>
					<ul class="colored">
						<li>
							<i class="icon-alert"></i>
							<p>icon-alert</p>
						</li>
						<li>
							<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>
							<p>icon-alert</p>
						</li>
					</ul>
				</div>
				<div class="widgets">
					<h3>Widget Icons</h3>
					<i class="fi flaticon-add" title="fi flaticon-add"></i>
					<i class="fi flaticon-add-1" title="fi flaticon-add-1"></i>
					<i class="fi flaticon-add-2" title="fi flaticon-add-2"></i>
					<i class="fi flaticon-add-3" title="fi flaticon-add-3"></i>
					<i class="fi flaticon-agenda" title="fi flaticon-agenda"></i>
					<i class="fi flaticon-alarm" title="fi flaticon-alarm"></i>
					<i class="fi flaticon-alarm-1" title="fi flaticon-alarm-1"></i>
					<i class="fi flaticon-alarm-clock" title="fi flaticon-alarm-clock"></i>
					<i class="fi flaticon-alarm-clock-1" title="fi flaticon-alarm-clock-1"></i>
					<i class="fi flaticon-albums" title="fi flaticon-albums"></i>
					<i class="fi flaticon-app" title="fi flaticon-app"></i>
					<i class="fi flaticon-archive" title="fi flaticon-archive"></i>
					<i class="fi flaticon-archive-1" title="fi flaticon-archive-1"></i>
					<i class="fi flaticon-archive-2" title="fi flaticon-archive-2"></i>
					<i class="fi flaticon-archive-3" title="fi flaticon-archive-3"></i>
					<i class="fi flaticon-attachment" title="fi flaticon-attachment"></i>
					<i class="fi flaticon-back" title="fi flaticon-back"></i>
					<i class="fi flaticon-battery" title="fi flaticon-battery"></i>
					<i class="fi flaticon-battery-1" title="fi flaticon-battery-1"></i>
					<i class="fi flaticon-battery-2" title="fi flaticon-battery-2"></i>
					<i class="fi flaticon-battery-3" title="fi flaticon-battery-3"></i>
					<i class="fi flaticon-battery-4" title="fi flaticon-battery-4"></i>
					<i class="fi flaticon-battery-5" title="fi flaticon-battery-5"></i>
					<i class="fi flaticon-battery-6" title="fi flaticon-battery-6"></i>
					<i class="fi flaticon-battery-7" title="fi flaticon-battery-7"></i>
					<i class="fi flaticon-battery-8" title="fi flaticon-battery-8"></i>
					<i class="fi flaticon-battery-9" title="fi flaticon-battery-9"></i>
					<i class="fi flaticon-binoculars" title="fi flaticon-binoculars"></i>
					<i class="fi flaticon-blueprint" title="fi flaticon-blueprint"></i>
					<i class="fi flaticon-bluetooth" title="fi flaticon-bluetooth"></i>
					<i class="fi flaticon-bluetooth-1" title="fi flaticon-bluetooth-1"></i>
					<i class="fi flaticon-bookmark" title="fi flaticon-bookmark"></i>
					<i class="fi flaticon-bookmark-1" title="fi flaticon-bookmark-1"></i>
					<i class="fi flaticon-briefcase" title="fi flaticon-briefcase"></i>
					<i class="fi flaticon-broken-link" title="fi flaticon-broken-link"></i>
					<i class="fi flaticon-calculator" title="fi flaticon-calculator"></i>
					<i class="fi flaticon-calculator-1" title="fi flaticon-calculator-1"></i>
					<i class="fi flaticon-calendar" title="fi flaticon-calendar"></i>
					<i class="fi flaticon-calendar-1" title="fi flaticon-calendar-1"></i>
					<i class="fi flaticon-calendar-2" title="fi flaticon-calendar-2"></i>
					<i class="fi flaticon-calendar-3" title="fi flaticon-calendar-3"></i>
					<i class="fi flaticon-calendar-4" title="fi flaticon-calendar-4"></i>
					<i class="fi flaticon-calendar-5" title="fi flaticon-calendar-5"></i>
					<i class="fi flaticon-calendar-6" title="fi flaticon-calendar-6"></i>
					<i class="fi flaticon-calendar-7" title="fi flaticon-calendar-7"></i>
					<i class="fi flaticon-checked" title="fi flaticon-checked"></i>
					<i class="fi flaticon-checked-1" title="fi flaticon-checked-1"></i>
					<i class="fi flaticon-clock" title="fi flaticon-clock"></i>
					<i class="fi flaticon-clock-1" title="fi flaticon-clock-1"></i>
					<i class="fi flaticon-close" title="fi flaticon-close"></i>
					<i class="fi flaticon-cloud" title="fi flaticon-cloud"></i>
					<i class="fi flaticon-cloud-computing" title="fi flaticon-cloud-computing"></i>
					<i class="fi flaticon-cloud-computing-1" title="fi flaticon-cloud-computing-1"></i>
					<i class="fi flaticon-cloud-computing-2" title="fi flaticon-cloud-computing-2"></i>
					<i class="fi flaticon-cloud-computing-3" title="fi flaticon-cloud-computing-3"></i>
					<i class="fi flaticon-cloud-computing-4" title="fi flaticon-cloud-computing-4"></i>
					<i class="fi flaticon-cloud-computing-5" title="fi flaticon-cloud-computing-5"></i>
					<i class="fi flaticon-command" title="fi flaticon-command"></i>
					<i class="fi flaticon-compact-disc" title="fi flaticon-compact-disc"></i>
					<i class="fi flaticon-compact-disc-1" title="fi flaticon-compact-disc-1"></i>
					<i class="fi flaticon-compact-disc-2" title="fi flaticon-compact-disc-2"></i>
					<i class="fi flaticon-compass" title="fi flaticon-compass"></i>
					<i class="fi flaticon-compose" title="fi flaticon-compose"></i>
					<i class="fi flaticon-controls" title="fi flaticon-controls"></i>
					<i class="fi flaticon-controls-1" title="fi flaticon-controls-1"></i>
					<i class="fi flaticon-controls-2" title="fi flaticon-controls-2"></i>
					<i class="fi flaticon-controls-3" title="fi flaticon-controls-3"></i>
					<i class="fi flaticon-controls-4" title="fi flaticon-controls-4"></i>
					<i class="fi flaticon-controls-5" title="fi flaticon-controls-5"></i>
					<i class="fi flaticon-controls-6" title="fi flaticon-controls-6"></i>
					<i class="fi flaticon-controls-7" title="fi flaticon-controls-7"></i>
					<i class="fi flaticon-controls-8" title="fi flaticon-controls-8"></i>
					<i class="fi flaticon-controls-9" title="fi flaticon-controls-9"></i>
					<i class="fi flaticon-database" title="fi flaticon-database"></i>
					<i class="fi flaticon-database-1" title="fi flaticon-database-1"></i>
					<i class="fi flaticon-database-2" title="fi flaticon-database-2"></i>
					<i class="fi flaticon-database-3" title="fi flaticon-database-3"></i>
					<i class="fi flaticon-diamond" title="fi flaticon-diamond"></i>
					<i class="fi flaticon-diploma" title="fi flaticon-diploma"></i>
					<i class="fi flaticon-dislike" title="fi flaticon-dislike"></i>
					<i class="fi flaticon-dislike-1" title="fi flaticon-dislike-1"></i>
					<i class="fi flaticon-divide" title="fi flaticon-divide"></i>
					<i class="fi flaticon-divide-1" title="fi flaticon-divide-1"></i>
					<i class="fi flaticon-division" title="fi flaticon-division"></i>
					<i class="fi flaticon-document" title="fi flaticon-document"></i>
					<i class="fi flaticon-download" title="fi flaticon-download"></i>
					<i class="fi flaticon-edit" title="fi flaticon-edit"></i>
					<i class="fi flaticon-edit-1" title="fi flaticon-edit-1"></i>
					<i class="fi flaticon-eject" title="fi flaticon-eject"></i>
					<i class="fi flaticon-eject-1" title="fi flaticon-eject-1"></i>
					<i class="fi flaticon-equal" title="fi flaticon-equal"></i>
					<i class="fi flaticon-equal-1" title="fi flaticon-equal-1"></i>
					<i class="fi flaticon-equal-2" title="fi flaticon-equal-2"></i>
					<i class="fi flaticon-error" title="fi flaticon-error"></i>
					<i class="fi flaticon-exit" title="fi flaticon-exit"></i>
					<i class="fi flaticon-exit-1" title="fi flaticon-exit-1"></i>
					<i class="fi flaticon-exit-2" title="fi flaticon-exit-2"></i>
					<i class="fi flaticon-eyeglasses" title="fi flaticon-eyeglasses"></i>
					<i class="fi flaticon-fast-forward" title="fi flaticon-fast-forward"></i>
					<i class="fi flaticon-fast-forward-1" title="fi flaticon-fast-forward-1"></i>
					<i class="fi flaticon-fax" title="fi flaticon-fax"></i>
					<i class="fi flaticon-file" title="fi flaticon-file"></i>
					<i class="fi flaticon-file-1" title="fi flaticon-file-1"></i>
					<i class="fi flaticon-file-2" title="fi flaticon-file-2"></i>
					<i class="fi flaticon-film" title="fi flaticon-film"></i>
					<i class="fi flaticon-fingerprint" title="fi flaticon-fingerprint"></i>
					<i class="fi flaticon-flag" title="fi flaticon-flag"></i>
					<i class="fi flaticon-flag-1" title="fi flaticon-flag-1"></i>
					<i class="fi flaticon-flag-2" title="fi flaticon-flag-2"></i>
					<i class="fi flaticon-flag-3" title="fi flaticon-flag-3"></i>
					<i class="fi flaticon-flag-4" title="fi flaticon-flag-4"></i>
					<i class="fi flaticon-focus" title="fi flaticon-focus"></i>
					<i class="fi flaticon-folder" title="fi flaticon-folder"></i>
					<i class="fi flaticon-folder-1" title="fi flaticon-folder-1"></i>
					<i class="fi flaticon-folder-10" title="fi flaticon-folder-10"></i>
					<i class="fi flaticon-folder-11" title="fi flaticon-folder-11"></i>
					<i class="fi flaticon-folder-12" title="fi flaticon-folder-12"></i>
					<i class="fi flaticon-folder-13" title="fi flaticon-folder-13"></i>
					<i class="fi flaticon-folder-14" title="fi flaticon-folder-14"></i>
					<i class="fi flaticon-folder-15" title="fi flaticon-folder-15"></i>
					<i class="fi flaticon-folder-16" title="fi flaticon-folder-16"></i>
					<i class="fi flaticon-folder-17" title="fi flaticon-folder-17"></i>
					<i class="fi flaticon-folder-18" title="fi flaticon-folder-18"></i>
					<i class="fi flaticon-folder-19" title="fi flaticon-folder-19"></i>
					<i class="fi flaticon-folder-2" title="fi flaticon-folder-2"></i>
					<i class="fi flaticon-folder-3" title="fi flaticon-folder-3"></i>
					<i class="fi flaticon-folder-4" title="fi flaticon-folder-4"></i>
					<i class="fi flaticon-folder-5" title="fi flaticon-folder-5"></i>
					<i class="fi flaticon-folder-6" title="fi flaticon-folder-6"></i>
					<i class="fi flaticon-folder-7" title="fi flaticon-folder-7"></i>
					<i class="fi flaticon-folder-8" title="fi flaticon-folder-8"></i>
					<i class="fi flaticon-folder-9" title="fi flaticon-folder-9"></i>
					<i class="fi flaticon-forbidden" title="fi flaticon-forbidden"></i>
					<i class="fi flaticon-funnel" title="fi flaticon-funnel"></i>
					<i class="fi flaticon-garbage" title="fi flaticon-garbage"></i>
					<i class="fi flaticon-garbage-1" title="fi flaticon-garbage-1"></i>
					<i class="fi flaticon-garbage-2" title="fi flaticon-garbage-2"></i>
					<i class="fi flaticon-gift" title="fi flaticon-gift"></i>
					<i class="fi flaticon-help" title="fi flaticon-help"></i>
					<i class="fi flaticon-hide" title="fi flaticon-hide"></i>
					<i class="fi flaticon-hold" title="fi flaticon-hold"></i>
					<i class="fi flaticon-home" title="fi flaticon-home"></i>
					<i class="fi flaticon-home-1" title="fi flaticon-home-1"></i>
					<i class="fi flaticon-home-2" title="fi flaticon-home-2"></i>
					<i class="fi flaticon-hourglass" title="fi flaticon-hourglass"></i>
					<i class="fi flaticon-hourglass-1" title="fi flaticon-hourglass-1"></i>
					<i class="fi flaticon-hourglass-2" title="fi flaticon-hourglass-2"></i>
					<i class="fi flaticon-hourglass-3" title="fi flaticon-hourglass-3"></i>
					<i class="fi flaticon-house" title="fi flaticon-house"></i>
					<i class="fi flaticon-id-card" title="fi flaticon-id-card"></i>
					<i class="fi flaticon-id-card-1" title="fi flaticon-id-card-1"></i>
					<i class="fi flaticon-id-card-2" title="fi flaticon-id-card-2"></i>
					<i class="fi flaticon-id-card-3" title="fi flaticon-id-card-3"></i>
					<i class="fi flaticon-id-card-4" title="fi flaticon-id-card-4"></i>
					<i class="fi flaticon-id-card-5" title="fi flaticon-id-card-5"></i>
					<i class="fi flaticon-idea" title="fi flaticon-idea"></i>
					<i class="fi flaticon-incoming" title="fi flaticon-incoming"></i>
					<i class="fi flaticon-infinity" title="fi flaticon-infinity"></i>
					<i class="fi flaticon-info" title="fi flaticon-info"></i>
					<i class="fi flaticon-internet" title="fi flaticon-internet"></i>
					<i class="fi flaticon-key" title="fi flaticon-key"></i>
					<i class="fi flaticon-lamp" title="fi flaticon-lamp"></i>
					<i class="fi flaticon-layers" title="fi flaticon-layers"></i>
					<i class="fi flaticon-layers-1" title="fi flaticon-layers-1"></i>
					<i class="fi flaticon-like" title="fi flaticon-like"></i>
					<i class="fi flaticon-like-1" title="fi flaticon-like-1"></i>
					<i class="fi flaticon-like-2" title="fi flaticon-like-2"></i>
					<i class="fi flaticon-link" title="fi flaticon-link"></i>
					<i class="fi flaticon-list" title="fi flaticon-list"></i>
					<i class="fi flaticon-list-1" title="fi flaticon-list-1"></i>
					<i class="fi flaticon-lock" title="fi flaticon-lock"></i>
					<i class="fi flaticon-lock-1" title="fi flaticon-lock-1"></i>
					<i class="fi flaticon-locked" title="fi flaticon-locked"></i>
					<i class="fi flaticon-locked-1" title="fi flaticon-locked-1"></i>
					<i class="fi flaticon-locked-2" title="fi flaticon-locked-2"></i>
					<i class="fi flaticon-locked-3" title="fi flaticon-locked-3"></i>
					<i class="fi flaticon-locked-4" title="fi flaticon-locked-4"></i>
					<i class="fi flaticon-locked-5" title="fi flaticon-locked-5"></i>
					<i class="fi flaticon-locked-6" title="fi flaticon-locked-6"></i>
					<i class="fi flaticon-login" title="fi flaticon-login"></i>
					<i class="fi flaticon-magic-wand" title="fi flaticon-magic-wand"></i>
					<i class="fi flaticon-magnet" title="fi flaticon-magnet"></i>
					<i class="fi flaticon-magnet-1" title="fi flaticon-magnet-1"></i>
					<i class="fi flaticon-magnet-2" title="fi flaticon-magnet-2"></i>
					<i class="fi flaticon-map" title="fi flaticon-map"></i>
					<i class="fi flaticon-map-1" title="fi flaticon-map-1"></i>
					<i class="fi flaticon-map-2" title="fi flaticon-map-2"></i>
					<i class="fi flaticon-map-location" title="fi flaticon-map-location"></i>
					<i class="fi flaticon-megaphone" title="fi flaticon-megaphone"></i>
					<i class="fi flaticon-megaphone-1" title="fi flaticon-megaphone-1"></i>
					<i class="fi flaticon-menu" title="fi flaticon-menu"></i>
					<i class="fi flaticon-menu-1" title="fi flaticon-menu-1"></i>
					<i class="fi flaticon-menu-2" title="fi flaticon-menu-2"></i>
					<i class="fi flaticon-menu-3" title="fi flaticon-menu-3"></i>
					<i class="fi flaticon-menu-4" title="fi flaticon-menu-4"></i>
					<i class="fi flaticon-microphone" title="fi flaticon-microphone"></i>
					<i class="fi flaticon-microphone-1" title="fi flaticon-microphone-1"></i>
					<i class="fi flaticon-minus" title="fi flaticon-minus"></i>
					<i class="fi flaticon-minus-1" title="fi flaticon-minus-1"></i>
					<i class="fi flaticon-more" title="fi flaticon-more"></i>
					<i class="fi flaticon-more-1" title="fi flaticon-more-1"></i>
					<i class="fi flaticon-more-2" title="fi flaticon-more-2"></i>
					<i class="fi flaticon-multiply" title="fi flaticon-multiply"></i>
					<i class="fi flaticon-multiply-1" title="fi flaticon-multiply-1"></i>
					<i class="fi flaticon-music-player" title="fi flaticon-music-player"></i>
					<i class="fi flaticon-music-player-1" title="fi flaticon-music-player-1"></i>
					<i class="fi flaticon-music-player-2" title="fi flaticon-music-player-2"></i>
					<i class="fi flaticon-music-player-3" title="fi flaticon-music-player-3"></i>
					<i class="fi flaticon-mute" title="fi flaticon-mute"></i>
					<i class="fi flaticon-muted" title="fi flaticon-muted"></i>
					<i class="fi flaticon-navigation" title="fi flaticon-navigation"></i>
					<i class="fi flaticon-navigation-1" title="fi flaticon-navigation-1"></i>
					<i class="fi flaticon-network" title="fi flaticon-network"></i>
					<i class="fi flaticon-newspaper" title="fi flaticon-newspaper"></i>
					<i class="fi flaticon-next" title="fi flaticon-next"></i>
					<i class="fi flaticon-note" title="fi flaticon-note"></i>
					<i class="fi flaticon-notebook" title="fi flaticon-notebook"></i>
					<i class="fi flaticon-notebook-1" title="fi flaticon-notebook-1"></i>
					<i class="fi flaticon-notebook-2" title="fi flaticon-notebook-2"></i>
					<i class="fi flaticon-notebook-3" title="fi flaticon-notebook-3"></i>
					<i class="fi flaticon-notebook-4" title="fi flaticon-notebook-4"></i>
					<i class="fi flaticon-notebook-5" title="fi flaticon-notebook-5"></i>
					<i class="fi flaticon-notepad" title="fi flaticon-notepad"></i>
					<i class="fi flaticon-notepad-1" title="fi flaticon-notepad-1"></i>
					<i class="fi flaticon-notepad-2" title="fi flaticon-notepad-2"></i>
					<i class="fi flaticon-notification" title="fi flaticon-notification"></i>
					<i class="fi flaticon-paper-plane" title="fi flaticon-paper-plane"></i>
					<i class="fi flaticon-paper-plane-1" title="fi flaticon-paper-plane-1"></i>
					<i class="fi flaticon-pause" title="fi flaticon-pause"></i>
					<i class="fi flaticon-pause-1" title="fi flaticon-pause-1"></i>
					<i class="fi flaticon-percent" title="fi flaticon-percent"></i>
					<i class="fi flaticon-percent-1" title="fi flaticon-percent-1"></i>
					<i class="fi flaticon-perspective" title="fi flaticon-perspective"></i>
					<i class="fi flaticon-photo-camera" title="fi flaticon-photo-camera"></i>
					<i class="fi flaticon-photo-camera-1" title="fi flaticon-photo-camera-1"></i>
					<i class="fi flaticon-photos" title="fi flaticon-photos"></i>
					<i class="fi flaticon-picture" title="fi flaticon-picture"></i>
					<i class="fi flaticon-picture-1" title="fi flaticon-picture-1"></i>
					<i class="fi flaticon-picture-2" title="fi flaticon-picture-2"></i>
					<i class="fi flaticon-pin" title="fi flaticon-pin"></i>
					<i class="fi flaticon-placeholder" title="fi flaticon-placeholder"></i>
					<i class="fi flaticon-placeholder-1" title="fi flaticon-placeholder-1"></i>
					<i class="fi flaticon-placeholder-2" title="fi flaticon-placeholder-2"></i>
					<i class="fi flaticon-placeholder-3" title="fi flaticon-placeholder-3"></i>
					<i class="fi flaticon-placeholders" title="fi flaticon-placeholders"></i>
					<i class="fi flaticon-play-button" title="fi flaticon-play-button"></i>
					<i class="fi flaticon-play-button-1" title="fi flaticon-play-button-1"></i>
					<i class="fi flaticon-plus" title="fi flaticon-plus"></i>
					<i class="fi flaticon-power" title="fi flaticon-power"></i>
					<i class="fi flaticon-previous" title="fi flaticon-previous"></i>
					<i class="fi flaticon-price-tag" title="fi flaticon-price-tag"></i>
					<i class="fi flaticon-print" title="fi flaticon-print"></i>
					<i class="fi flaticon-push-pin" title="fi flaticon-push-pin"></i>
					<i class="fi flaticon-radar" title="fi flaticon-radar"></i>
					<i class="fi flaticon-reading" title="fi flaticon-reading"></i>
					<i class="fi flaticon-record" title="fi flaticon-record"></i>
					<i class="fi flaticon-repeat" title="fi flaticon-repeat"></i>
					<i class="fi flaticon-repeat-1" title="fi flaticon-repeat-1"></i>
					<i class="fi flaticon-restart" title="fi flaticon-restart"></i>
					<i class="fi flaticon-resume" title="fi flaticon-resume"></i>
					<i class="fi flaticon-rewind" title="fi flaticon-rewind"></i>
					<i class="fi flaticon-rewind-1" title="fi flaticon-rewind-1"></i>
					<i class="fi flaticon-route" title="fi flaticon-route"></i>
					<i class="fi flaticon-save" title="fi flaticon-save"></i>
					<i class="fi flaticon-search" title="fi flaticon-search"></i>
					<i class="fi flaticon-search-1" title="fi flaticon-search-1"></i>
					<i class="fi flaticon-send" title="fi flaticon-send"></i>
					<i class="fi flaticon-server" title="fi flaticon-server"></i>
					<i class="fi flaticon-server-1" title="fi flaticon-server-1"></i>
					<i class="fi flaticon-server-2" title="fi flaticon-server-2"></i>
					<i class="fi flaticon-server-3" title="fi flaticon-server-3"></i>
					<i class="fi flaticon-settings" title="fi flaticon-settings"></i>
					<i class="fi flaticon-settings-1" title="fi flaticon-settings-1"></i>
					<i class="fi flaticon-settings-2" title="fi flaticon-settings-2"></i>
					<i class="fi flaticon-settings-3" title="fi flaticon-settings-3"></i>
					<i class="fi flaticon-settings-4" title="fi flaticon-settings-4"></i>
					<i class="fi flaticon-settings-5" title="fi flaticon-settings-5"></i>
					<i class="fi flaticon-settings-6" title="fi flaticon-settings-6"></i>
					<i class="fi flaticon-settings-7" title="fi flaticon-settings-7"></i>
					<i class="fi flaticon-settings-8" title="fi flaticon-settings-8"></i>
					<i class="fi flaticon-settings-9" title="fi flaticon-settings-9"></i>
					<i class="fi flaticon-share" title="fi flaticon-share"></i>
					<i class="fi flaticon-share-1" title="fi flaticon-share-1"></i>
					<i class="fi flaticon-share-2" title="fi flaticon-share-2"></i>
					<i class="fi flaticon-shuffle" title="fi flaticon-shuffle"></i>
					<i class="fi flaticon-shuffle-1" title="fi flaticon-shuffle-1"></i>
					<i class="fi flaticon-shutdown" title="fi flaticon-shutdown"></i>
					<i class="fi flaticon-sign" title="fi flaticon-sign"></i>
					<i class="fi flaticon-sign-1" title="fi flaticon-sign-1"></i>
					<i class="fi flaticon-skip" title="fi flaticon-skip"></i>
					<i class="fi flaticon-smartphone" title="fi flaticon-smartphone"></i>
					<i class="fi flaticon-smartphone-1" title="fi flaticon-smartphone-1"></i>
					<i class="fi flaticon-smartphone-10" title="fi flaticon-smartphone-10"></i>
					<i class="fi flaticon-smartphone-11" title="fi flaticon-smartphone-11"></i>
					<i class="fi flaticon-smartphone-2" title="fi flaticon-smartphone-2"></i>
					<i class="fi flaticon-smartphone-3" title="fi flaticon-smartphone-3"></i>
					<i class="fi flaticon-smartphone-4" title="fi flaticon-smartphone-4"></i>
					<i class="fi flaticon-smartphone-5" title="fi flaticon-smartphone-5"></i>
					<i class="fi flaticon-smartphone-6" title="fi flaticon-smartphone-6"></i>
					<i class="fi flaticon-smartphone-7" title="fi flaticon-smartphone-7"></i>
					<i class="fi flaticon-smartphone-8" title="fi flaticon-smartphone-8"></i>
					<i class="fi flaticon-smartphone-9" title="fi flaticon-smartphone-9"></i>
					<i class="fi flaticon-speaker" title="fi flaticon-speaker"></i>
					<i class="fi flaticon-speaker-1" title="fi flaticon-speaker-1"></i>
					<i class="fi flaticon-speaker-2" title="fi flaticon-speaker-2"></i>
					<i class="fi flaticon-speaker-3" title="fi flaticon-speaker-3"></i>
					<i class="fi flaticon-speaker-4" title="fi flaticon-speaker-4"></i>
					<i class="fi flaticon-speaker-5" title="fi flaticon-speaker-5"></i>
					<i class="fi flaticon-speaker-6" title="fi flaticon-speaker-6"></i>
					<i class="fi flaticon-speaker-7" title="fi flaticon-speaker-7"></i>
					<i class="fi flaticon-speaker-8" title="fi flaticon-speaker-8"></i>
					<i class="fi flaticon-spotlight" title="fi flaticon-spotlight"></i>
					<i class="fi flaticon-star" title="fi flaticon-star"></i>
					<i class="fi flaticon-star-1" title="fi flaticon-star-1"></i>
					<i class="fi flaticon-stop" title="fi flaticon-stop"></i>
					<i class="fi flaticon-stop-1" title="fi flaticon-stop-1"></i>
					<i class="fi flaticon-stopwatch" title="fi flaticon-stopwatch"></i>
					<i class="fi flaticon-stopwatch-1" title="fi flaticon-stopwatch-1"></i>
					<i class="fi flaticon-stopwatch-2" title="fi flaticon-stopwatch-2"></i>
					<i class="fi flaticon-stopwatch-3" title="fi flaticon-stopwatch-3"></i>
					<i class="fi flaticon-stopwatch-4" title="fi flaticon-stopwatch-4"></i>
					<i class="fi flaticon-street" title="fi flaticon-street"></i>
					<i class="fi flaticon-street-1" title="fi flaticon-street-1"></i>
					<i class="fi flaticon-substract" title="fi flaticon-substract"></i>
					<i class="fi flaticon-substract-1" title="fi flaticon-substract-1"></i>
					<i class="fi flaticon-success" title="fi flaticon-success"></i>
					<i class="fi flaticon-switch" title="fi flaticon-switch"></i>
					<i class="fi flaticon-switch-1" title="fi flaticon-switch-1"></i>
					<i class="fi flaticon-switch-2" title="fi flaticon-switch-2"></i>
					<i class="fi flaticon-switch-3" title="fi flaticon-switch-3"></i>
					<i class="fi flaticon-switch-4" title="fi flaticon-switch-4"></i>
					<i class="fi flaticon-switch-5" title="fi flaticon-switch-5"></i>
					<i class="fi flaticon-switch-6" title="fi flaticon-switch-6"></i>
					<i class="fi flaticon-switch-7" title="fi flaticon-switch-7"></i>
					<i class="fi flaticon-tabs" title="fi flaticon-tabs"></i>
					<i class="fi flaticon-tabs-1" title="fi flaticon-tabs-1"></i>
					<i class="fi flaticon-target" title="fi flaticon-target"></i>
					<i class="fi flaticon-television" title="fi flaticon-television"></i>
					<i class="fi flaticon-television-1" title="fi flaticon-television-1"></i>
					<i class="fi flaticon-time" title="fi flaticon-time"></i>
					<i class="fi flaticon-trash" title="fi flaticon-trash"></i>
					<i class="fi flaticon-umbrella" title="fi flaticon-umbrella"></i>
					<i class="fi flaticon-unlink" title="fi flaticon-unlink"></i>
					<i class="fi flaticon-unlocked" title="fi flaticon-unlocked"></i>
					<i class="fi flaticon-unlocked-1" title="fi flaticon-unlocked-1"></i>
					<i class="fi flaticon-unlocked-2" title="fi flaticon-unlocked-2"></i>
					<i class="fi flaticon-upload" title="fi flaticon-upload"></i>
					<i class="fi flaticon-user" title="fi flaticon-user"></i>
					<i class="fi flaticon-user-1" title="fi flaticon-user-1"></i>
					<i class="fi flaticon-user-2" title="fi flaticon-user-2"></i>
					<i class="fi flaticon-user-3" title="fi flaticon-user-3"></i>
					<i class="fi flaticon-user-4" title="fi flaticon-user-4"></i>
					<i class="fi flaticon-user-5" title="fi flaticon-user-5"></i>
					<i class="fi flaticon-user-6" title="fi flaticon-user-6"></i>
					<i class="fi flaticon-user-7" title="fi flaticon-user-7"></i>
					<i class="fi flaticon-users" title="fi flaticon-users"></i>
					<i class="fi flaticon-users-1" title="fi flaticon-users-1"></i>
					<i class="fi flaticon-video-camera" title="fi flaticon-video-camera"></i>
					<i class="fi flaticon-video-camera-1" title="fi flaticon-video-camera-1"></i>
					<i class="fi flaticon-video-player" title="fi flaticon-video-player"></i>
					<i class="fi flaticon-video-player-1" title="fi flaticon-video-player-1"></i>
					<i class="fi flaticon-video-player-2" title="fi flaticon-video-player-2"></i>
					<i class="fi flaticon-view" title="fi flaticon-view"></i>
					<i class="fi flaticon-view-1" title="fi flaticon-view-1"></i>
					<i class="fi flaticon-view-2" title="fi flaticon-view-2"></i>
					<i class="fi flaticon-volume-control" title="fi flaticon-volume-control"></i>
					<i class="fi flaticon-volume-control-1" title="fi flaticon-volume-control-1"></i>
					<i class="fi flaticon-warning" title="fi flaticon-warning"></i>
					<i class="fi flaticon-wifi" title="fi flaticon-wifi"></i>
					<i class="fi flaticon-wifi-1" title="fi flaticon-wifi-1"></i>
					<i class="fi flaticon-windows" title="fi flaticon-windows"></i>
					<i class="fi flaticon-windows-1" title="fi flaticon-windows-1"></i>
					<i class="fi flaticon-windows-2" title="fi flaticon-windows-2"></i>
					<i class="fi flaticon-windows-3" title="fi flaticon-windows-3"></i>
					<i class="fi flaticon-windows-4" title="fi flaticon-windows-4"></i>
					<i class="fi flaticon-wireless-internet" title="fi flaticon-wireless-internet"></i>
					<i class="fi flaticon-worldwide" title="fi flaticon-worldwide"></i>
					<i class="fi flaticon-worldwide-1" title="fi flaticon-worldwide-1"></i>
					<i class="fi flaticon-zoom-in" title="fi flaticon-zoom-in"></i>
					<i class="fi flaticon-zoom-out" title="fi flaticon-zoom-out"></i>
				</div>
			</div>
		</div>
	</div>
	<!--=include base/footer.html -->
</body>
</html>