<div class="sidebar">
	<div class="top">
		<i class="icon-mitpvs-logo"></i>
	</div>
	<div class="menu">
		<nav class="settings-menu">
			<li class="current">Alle elementer</li>
			<li>Generelle</li>
			<li>Patent/Brugsmodel</li>
			<li>Varemærke</li>
			<li>Design</li>
		</nav>
	</div>
	<div class="mobile-btn">
		<i class="icon-menu"></i>
	</div>
</div>
